@font-face {
  font-family: "Manrope-Bold";
  src: local("Monrope-Black"),
  url('./manrope/static/Manrope-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Manrope-ExtraBold";
  src: local("Monrope-ExtraBlack"),
  url('./manrope/static/Manrope-ExtraBold.ttf') format("truetype");
}

@font-face {
  font-family: "Manrope-ExtraLight";
  src: local("Monrope-ExtraLight"),
  url('./manrope/static/Manrope-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: "Manrope-Light";
  src: local("Monrope-Light"),
  url('./manrope/static/Manrope-Light.ttf') format("truetype");
}

@font-face {
  font-family: "Manrope-Medium";
  src: local("Monrope-Medium"),
  url('./manrope/static/Manrope-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Manrope-Regular";
  src: local("Monrope-Regular"),
  url('./manrope/static/Manrope-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Manrope-SemiBold";
  src: local("Monrope-SemiBold"),
  url('./manrope/static/Manrope-SemiBold.ttf') format("truetype");
}
