<div class="ymrlk-navigation-bar-container">

  <div class="logo">
    <h1>YMRLK</h1>
  </div>

  <ul class="navigation-links">

    <li>
      <a routerLink="">Home</a>
    </li>

    <li>
      <a routerLink="">About</a>
    </li>

    <li>
      <a routerLink="/auth/login">Login</a>
    </li>

    <li>
      <a routerLink="/auth/register">Register</a>
    </li>

    <li class="user-link">
      <a>
        <img src="https://scontent.flwo3-1.fna.fbcdn.net/v/t1.6435-9/46043803_1054024491436714_4567938868824768512_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=8xGsuW6zzzwAX-kJvlu&tn=LmIndTCLOV3WJPKf&_nc_ht=scontent.flwo3-1.fna&oh=00_AT8X8a62L_WJ8Y19uF6VbxJowgg0EzJ_iTnfrHN6KQ-9Lg&oe=6216E64D"
             alt="user-avatar" />
        <span>Yura Moryliak</span>
      </a>
    </li>

  </ul>

</div>
