@import "../../../../../assets/custom-styles/variables";

ymrlk-code-blog-login {
  user-select: none;

  .ymrlk-login-container {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
    width: 100vw;

    .ymrlk-login-info-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      padding: 0 50px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('../../../../../assets/images/me2.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: brightness(0.4);
        z-index: -1;
      }

      h1 {
        color: $secondary-text-color;
      }

      p {
        color: $primary-text-color;
      }
    }

    .ymrlk-login-form {
      display: grid;
      grid-template-rows: 200px calc(100% - 400px);
      justify-content: center;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        margin: 150px 0;

        h1 {
          color: $main-color;
          position: relative;
          cursor: pointer;
          font-family: Manrope-Bold, sans-serif;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
          }
        }

      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 450px;

        .ymrlk-login-form-control {
          margin-bottom: 20px;
          width: 100%;

          input {
            border-width: 0;
            box-shadow: $box-shadow;
            width: 100%;
            padding: 20px;
            border-radius: 5px;
            outline: none;
          }

        }

        button {
          background-color: $main-color;
          color: $secondary-text-color;
          border: none;
          height: 40px;
          width: 100%;
          transition: $transition-time ease-in;

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .ymrlk-login-navigation-links {
        a {
          text-transform: uppercase;
          text-decoration: none;
          margin-right: 10px;
          font-size: 12px;
          color: $primary-text-color;
          transition: 0.3s ease;

          &:hover {
            opacity: 0.5;
          }
        }
      }

    }
  }

}
