<div class="ymrlk-login-container">

  <div class="ymrlk-login-info-container">

    <h1>Login - create, comment, share</h1>

    <p>Hi there mate:) I am glad you come here to visit my personal blog or become as my friend</p>
    <p>Hope you will have real fun here, know something new about me, who i am, my hobbies and other cool stories</p>
    <p>Please login or register as my sincere friend and start create your own posts, comment other posts, share posts</p>

  </div>
  <div class="ymrlk-login-form">

    <div class="logo" routerLink="">
      <h1>YMRLK</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <div class="ymrlk-login-form-control">
        <input type="email" placeholder="Email" formControlName="email" />
      </div>

      <div class="ymrlk-login-form-control">
        <input type="password" placeholder="Password" formControlName="password" />
      </div>

      <button>Login</button>

    </form>

    <div class="ymrlk-login-navigation-links">

      <a routerLink="">Home</a>
      <a routerLink="/auth/register">Register</a>

    </div>

  </div>

</div>
