<div class="ymrlk-feed-container">

  <ymrlk-navigation-bar></ymrlk-navigation-bar>

  <div class="ymrlk-feed-presentation-container">

    <div class="ymrlk-presentation-title">

      <h1>YMRLK</h1>
      <h4>- personal blog</h4>

    </div>

  </div>

  <div class="ymrlk-feed-tags-container">

<!--    <div class="ymrlk-tag selected">-->
<!--      <a href="">All</a>-->
<!--    </div>-->

<!--    <div class="ymrlk-tag">-->
<!--      <a href="">Angular</a>-->
<!--    </div>-->

<!--    <div class="ymrlk-tag">-->
<!--      <a href="">TypeScript</a>-->
<!--    </div>-->

<!--    <div class="ymrlk-tag">-->
<!--      <a href="">Lifestyle</a>-->
<!--    </div>-->

<!--    <div class="ymrlk-tag">-->
<!--      <a href="">Diabetes 1 type</a>-->
<!--    </div>-->

  </div>

  <div class="ymrlk-feed-blog-content">

    <div class="ymrlk-feed-blog-posts">

      <!--ymrlk-code-blog-post-->
      <div class="ymrlk-code-blog-post">

        <div class="ymrlk-code-blog-post-image"></div>
        <div class="ymrlk-code-blog-post-short-info">

          <div class="ymrlk-code-blog-post-created-by">
            <a routerLink="">by Yura Moryliak</a>
            <span>January 23, 2022</span>
          </div>

          <div class="ymrlk-code-blog-post-heading">
            <h2>Some cool heading for this post</h2>
          </div>

          <div class="ymrlk-code-blog-post-overview">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque, commodi culpa debitis doloremque facilis in ipsa ipsam labore, modi nesciunt nisi quas quidem quod recusandae suscipit ullam, unde! Non.</p>
          </div>

          <div class="ymrlk-code-blog-post-tags-container">
            <a routerLink="">Angular</a>
            <a routerLink="">TypeScript</a>
          </div>

        </div>

      </div>

      <div class="ymrlk-code-blog-post">

        <div class="ymrlk-code-blog-post-image"></div>
        <div class="ymrlk-code-blog-post-short-info">

          <div class="ymrlk-code-blog-post-created-by">
            <a routerLink="">by Yura Moryliak</a>
            <span>January 23, 2022</span>
          </div>

          <div class="ymrlk-code-blog-post-heading">
            <h2>Some cool heading for this post</h2>
          </div>

          <div class="ymrlk-code-blog-post-overview">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque, commodi culpa debitis doloremque facilis in ipsa ipsam labore, modi nesciunt nisi quas quidem quod recusandae suscipit ullam, unde! Non.</p>
          </div>

          <div class="ymrlk-code-blog-post-tags-container">
            <a routerLink="">Angular</a>
            <a routerLink="">TypeScript</a>
          </div>

        </div>

      </div>

    </div>

    <div class="ymrlk-feed-blog-recent-posts">
      <h2>Recent posts</h2>
    </div>

  </div>

</div>
