<!--<div class="ui-test-examples-container">-->

<!--  <ng-container *ngFor="let tag of tagsList">-->

<!--    <ymrlk-tag [tagTitle]="tag"-->
<!--               (selected)="getSelectedTag($event)"></ymrlk-tag>-->

<!--  </ng-container>-->

<!--</div>-->

<div class="ui-test-examples-container">

  <form class="ui-test-examples-form"
        [formGroup]="form">

    <h2>Custom reactive forms</h2>

    <input type="email"
           class="ui-test-examples-form-control"
           formControlName="email"
           placeholder="Native input email control"
           ymrlkErrorMessages />

  </form>

</div>
