.ui-test-examples-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;

  .ui-test-examples-form {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    padding: 20px;

    .ui-test-examples-form-control {
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
    }
  }
}
