<div class="ymrlk-auth-container">

  <div class="ymrlk-auth-info-container">

    <h1>Register</h1>

    <p>Hi there mate:) I am glad you come here to visit my personal blog as sincere quest</p>
    <p>Hope you will have real fun here, know something new about me, who i am, my hobbies and other cool stories</p>
    <p>Please login or register and start create your own posts, comment other posts, share posts</p>

  </div>
  <div class="ymrlk-auth-form">

    <div class="logo" routerLink="">
      <h1>&lt;YMRLK/&gt;</h1>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">

      <ymrlk-form-control
        class="ymrlk-auth-form-control"
        formControlName="firstName"
        type="text"
        placeholder="First name"
        errorLabel="First name"
        [required]="true"
        [errorMessageCallers]="firstAndLastNameErrorMessageCallers"
        [errorClosable]="true"
        [errorClosableOnBlur]="true">
      </ymrlk-form-control>

      <ymrlk-form-control
        class="ymrlk-auth-form-control"
        formControlName="lastName"
        type="text"
        placeholder="Last name"
        errorLabel="Last name"
        [required]="true"
        [errorMessageCallers]="firstAndLastNameErrorMessageCallers"
        [errorClosable]="true"
        [errorClosableOnBlur]="true">
      </ymrlk-form-control>

      <ymrlk-form-control
        class="ymrlk-auth-form-control"
        formControlName="email"
        type="email"
        placeholder="Email"
        errorLabel="Email"
        [required]="true"
        [errorMessageCallers]="emailErrorMessageCallers"
        [errorClosable]="true"
        [errorClosableOnBlur]="true">
      </ymrlk-form-control>

      <ymrlk-form-control
        class="ymrlk-auth-form-control"
        formControlName="password"
        type="password"
        placeholder="Password"
        errorLabel="Password"
        [required]="true"
        [errorMessageCallers]="passwordErrorMessageCallers"
        [errorClosable]="true"
        [errorClosableOnBlur]="true">
      </ymrlk-form-control>

      <ymrlk-form-control
        class="ymrlk-auth-form-control"
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm password"
        errorLabel="Confirm password"
        [required]="true"
        [errorMessageCallers]="confirmPasswordErrorMessageCallers"
        [errorClosable]="true"
        [errorClosableOnBlur]="true">
      </ymrlk-form-control>

      <button [disabled]="registerForm.invalid">Register</button>

    </form>

    <div class="ymrlk-auth-navigation-links">

      <a routerLink="">Home</a>
      <a routerLink="/auth/login">Login</a>

    </div>

  </div>

</div>
