@import "../../../../../assets/custom-styles/mixins/auth-structure.mixin";

ymrlk-register {

  @include auth-structure();

  .ymrlk-auth-form {

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      h1 {
        color: $main-color;
        position: relative;
        cursor: pointer;
        font-family: Manrope-Bold, sans-serif;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
        }
      }

    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 450px;

      .ymrlk-login-form-control {
        width: 100%;
        position: relative;
        margin-bottom: 20px;

        .required {
          position: absolute;
          left: -10px;
          top: 0;
          color: $main-color;
        }

        input {
          border-width: 0;
          box-shadow: $box-shadow;
          width: 100%;
          padding: 20px;
          border-radius: 5px;
          outline: none;
        }



      }

      button {
        background-color: $main-color;
        color: $secondary-text-color;
        border: none;
        height: 40px;
        width: 100%;
        transition: $transition-time ease-in;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }

        &:disabled {
          cursor: default;
          background-color: $primary-text-color;
        }
      }
    }

  }

}
