$main-color: #FF0051;

$primary-heading-text-color: #3d3d3d;
$primary-text-color: #8d8d8d; // tags, text, anchors
$secondary-text-color: #ffffff;

$border-color: #e6e6e6;
$transition-time: 0.3s;
$box-shadow: 0 15px 45px -9px rgb(0 0 0 / 20%);
